<h2>Cadastrar</h2>

<!-- formulário para mostrar a vaga selecionada ou cadastrar uma vaga nova -->

<form>
  <label for="id">ID</label>
  <input type="text" id="id" [(ngModel)]="vaga.id" name="id" placeholder="ID" />
  <br />
  <label for="nome">Nome</label>
  <input type="text" id="nome" [(ngModel)]="vaga.nome" name="nome" placeholder="Nome" />
  <br />
  <label for="foto">Foto</label>
  <input type="text" id="foto" [(ngModel)]="vaga.foto" name="foto" placeholder="Foto" />
  <br />
  <label for="descricao">Descrição</label>
  <input type="text" id="descricao" [(ngModel)]="vaga.descricao" name="descricao" placeholder="descrição" />
  <br />
  <label for="salario">Salário</label>
  <input type="text" id="salario" [(ngModel)]="vaga.salario" name="salario" placeholder="salário" />
  <br />

  <button type="button" (click)="cadastrarVaga()">Cadastrar Vaga</button>
  <button type="button" (click)="atualizarVaga(vaga.id)">Atualizar Vaga</button>
  <button type="button" (click)="excluirVaga(vaga.id)">Deletar Vaga</button>
</form>

<!-- tabela com as vagas já cadastradas -->

<section class="listar-vagas">
  <table class="table" *ngIf="vagas.length > 0; else vazio">
    <thead>
      <tr>
        <th>Id Vaga</th>
        <th>Vaga</th>
        <th>Descrição</th>
        <th>Salário</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of vagas">
        <td>{{ item.id }}</td>
        <td>{{ item.nome }}</td>
        <td>{{ item.descricao }}</td>
        <td>R$ {{ item.salario }},00</td>
        <td><button type="button" (click)="listarVagaUnica(item)">Listar</button></td>
      </tr>
    </tbody>
  </table>

  <ng-template #vazio>
    <div class="sem-vagas">Nenhuma vaga cadastrada ainda.</div>
  </ng-template>
</section>

<!-- correção para o footer não ficar na frente da tabela -->

<div class="footer"></div>

